:root {
  --body-color: #333;
  --button-color-bottom: #435;
  --button-color-text: white;
  --button-color-top: #435;
  --card-background-color: #999;
  --card-border-color: #DAD;
  --card-text-color: black;
  --error-text-color: crimson;
  --footer-text-color: white;
  --header-image: url('./frax_back.png');
  --heading-color-bottom: #A9D;
  --heading-color-text: white;
  --heading-color-top: #87A;
  --summary-color-bottom: #98A;
  --summary-color-text: white;
  --summary-color-top: #435;
}

.header {
  min-height: 250px;
}
