:root {
  --body-color: #333;
  --card-background-color: #AAE;
  --card-border-color: #eebb55;
  --card-text-color: black;
  --error-color: crimson;
  --header-image: url('./frax_back.png');
  --heading-color-bottom: #9AF;
  --heading-color-text: white;
  --heading-color-top: #57C;
  --summary-color-bottom: #8181c0;
  --summary-color-text: white;
  --summary-color-top: #313181;
}

.header {
  min-height: 250px;
}
