:root {
  --body-color: #000;
  --card-background-color: #555;
  --card-border-color: #575;
  --card-text-color: white;
  --error-text-color: crimson;
  --footer-text-color: white;
  --header-image: url('./klingon_back.png');
  --heading-color-bottom: #888;
  --heading-color-text: white;
  --heading-color-top: #333;
  --summary-color-bottom: #ABA;
  --summary-color-text: white;
  --summary-color-top: #898;
}

.header {
  min-height: 200px;
}
