:root {
  --body-color: black;
  --button-color-bottom: #57C;
  --button-color-text: white;
  --button-color-top: #57C;
  --card-background-color: #555;
  --card-border-color: #57C;
  --card-text-color: white;
  --error-text-color: crimson;
  --footer-text-color: white;
  --header-image: url('');
  --heading-color-bottom: #9AF;
  --heading-color-text: white;
  --heading-color-top: #57C;
  --summary-color-bottom: #35A;
  --summary-color-text: white;
  --summary-color-top: #57C;
  --zebra-stripe-color:#333;
}

.header {
  min-height: 10px;
}
