:root {
  --body-color: #333;
  --button-color-bottom: #333;
  --button-color-text: white;
  --button-color-top: #333;
  --card-background-color: #CA7;
  --card-border-color: #FD8;
  --card-text-color: black;
  --error-text-color: crimson;
  --footer-text-color: white;
  --header-image: url('./quari_back.png');
  --heading-color-bottom: #888;
  --heading-color-text: white;
  --heading-color-top: #333;
  --summary-color-bottom: #FD8;
  --summary-color-text: black;
  --summary-color-top: #CA7;
  --zebra-stripe-color:#A85;
}

.header {
  min-height: 200px;
}
